<h1>New Drink</h1> 
<%= form_for @drink do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price%>

    <%= form.submit %>

<% end %>
  </div>